@import "tailwindcss";

@font-face {
    font-family: League Spartan;
    src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

@theme {
    --font-spartan: League Spartan, "sans-serif"; 
}

html, body {
    overflow-x: hidden;
}